.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-7fCGD1uhzS7R);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-12zbmbx62HZx);
  font-family: var(--token-lDa_6luQP-ki);
  font-size: var(--token-2pwaCVY1mivl);
  line-height: var(--token-bIlGl3NAfgoG);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-y6q2eHfTpmtp);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-uid5ZAD1tfAn);
  outline-offset: 1px;
  outline-color: var(--token-7fCGD1uhzS7R);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-qribwrXFhBKs);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-dY1K809bBBrP);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-oBytwIuLdgYk);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-CLFk2p7ADfOi);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-LtN75D_Oa30t);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-LVxwo9vDU23v);
  font-size: var(--token-uHaVPtKRkSkw);
  column-gap: var(--token-uid5ZAD1tfAn);
  row-gap: 0px;
  border-radius: var(--token-0x1pqLRScUal);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-uHaVPtKRkSkw);
  line-height: var(--token-LVxwo9vDU23v);
  column-gap: var(--token-0x1pqLRScUal);
  row-gap: 0px;
  border-radius: var(--token-0x1pqLRScUal);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-BKrXxCsHoYhN);
  line-height: var(--token-PHSGHABwkTge);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-BKrXxCsHoYhN);
  line-height: var(--token-PHSGHABwkTge);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-sd6ppocLB80k);
  border-radius: var(--token-y6q2eHfTpmtp);
}
.softBackgroundcolor_neutral {
  background: var(--token-lKAzJ1D_uKcu);
}
.softBackgroundcolor_muted {
  background: var(--token-o4Oq2nshAWYk);
}
.softBackgroundcolor_success {
  background: var(--token-3QMVETfFTRJ3);
}
.softBackgroundcolor_warning {
  background: var(--token--IBfL0OQVvhb);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-XUqqd8fPV3oZ);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-y6q2eHfTpmtp);
  border: 0px solid var(--token-VdWMkFnm0ssS);
}
.bordercolor_neutral {
  border-color: var(--token-UNoHaUjjgi8c);
}
.bordercolor_muted {
  border-color: var(--token-yYd6NPpgXMKa);
}
.bordercolor_success {
  border-color: var(--token-XN1XU_tuIQal);
}
.bordercolor_warning {
  border-color: var(--token-CdQXFrRpGGw6);
}
.bordercolor_errorDestructive {
  border-color: var(--token-gn4x1P5Ahe8d);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-y6q2eHfTpmtp);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Sr-iQarERir0);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-KwYOPKfxQ4xV);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-8yp0Deb4nQtF);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___4S08 {
  display: flex;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  padding: var(--token-y6q2eHfTpmtp) var(--token-M0hSwO8Gq5AU);
}
.freeBox___4S08 > :global(.__wab_flex-container) {
  justify-content: center;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - var(--token-y6q2eHfTpmtp));
  width: calc(100% + var(--token-y6q2eHfTpmtp));
}
.freeBox___4S08 > :global(.__wab_flex-container) > *,
.freeBox___4S08 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4S08 > :global(.__wab_flex-container) > picture > img,
.freeBox___4S08
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-y6q2eHfTpmtp);
}
.freeBoxsize_extraSmall___4S081Kivy {
  padding: var(--token-0x1pqLRScUal) var(--token-y6q2eHfTpmtp);
}
.freeBoxsize_small___4S08OPGdc {
  padding: var(--token-y6q2eHfTpmtp) var(--token-12zbmbx62HZx);
}
.freeBoxsize_large___4S087Rdph {
  padding-top: var(--token-0x1pqLRScUal);
  padding-bottom: var(--token-0x1pqLRScUal);
}
.freeBoxsize_extraLarge___4S08TBsy8 {
  padding-left: var(--token-iQcNejNaGN_b);
  padding-right: var(--token-iQcNejNaGN_b);
}
.freeBoxroundedFull___4S0814KN {
  padding-right: var(--token-iQcNejNaGN_b);
  padding-left: var(--token-iQcNejNaGN_b);
}
.freeBox__kjsHo {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__kjsHorgHOv {
  display: flex;
}
.slotTargetStart {
  color: var(--token-3zsOrFQ7CIab);
}
.slotTargetStartcolor_neutral {
  color: var(--token-Aw78pP9kmYft);
}
.slotTargetStartcolor_muted {
  color: var(--token-t_vr97VoBFZD);
}
.slotTargetStartcolor_success {
  color: var(--token-8tYJsya-g3Ng);
}
.slotTargetStartcolor_warning {
  color: var(--token-lNKUn2siNlam);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-6cVNG8FFo6Gz);
}
.slotTargetStarttype_soft {
  color: var(--token-7ix20JdxcBwT);
}
.slotTargetStarttype_bordered {
  color: var(--token-7ix20JdxcBwT);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-uHaVPtKRkSkw);
}
.slotTargetStartsize_small {
  font-size: var(--token-uHaVPtKRkSkw);
}
.slotTargetStartsize_large {
  font-size: var(--token-BKrXxCsHoYhN);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-BKrXxCsHoYhN);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-gjs-TOiPIwRa);
}
.slotTargetStarttype_bordered_color_neutral {
  color: var(--token-gjs-TOiPIwRa);
}
.slotTargetStartcolor_muted_type_soft {
  color: var(--token-nwv1sw0bi9PW);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-nwv1sw0bi9PW);
}
.slotTargetStartcolor_success_type_soft {
  color: var(--token-ch4RQ900raQI);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-ch4RQ900raQI);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-rm18IG2aHSlc);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-rm18IG2aHSlc);
}
.slotTargetStartcolor_errorDestructive_type_soft {
  color: var(--token-_6voS9AkVzdn);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-_6voS9AkVzdn);
}
.svg__sUi6K {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-3zsOrFQ7CIab);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-Aw78pP9kmYft);
}
.slotTargetLabelcolor_muted {
  color: var(--token-t_vr97VoBFZD);
}
.slotTargetLabelcolor_success {
  color: var(--token-8tYJsya-g3Ng);
}
.slotTargetLabelcolor_warning {
  color: var(--token-lNKUn2siNlam);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-6cVNG8FFo6Gz);
}
.slotTargetLabeltype_soft {
  color: var(--token-7ix20JdxcBwT);
}
.slotTargetLabeltype_bordered {
  color: var(--token-7ix20JdxcBwT);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-gjs-TOiPIwRa);
}
.slotTargetLabelcolor_muted_type_soft {
  color: var(--token-nwv1sw0bi9PW);
}
.slotTargetLabeltype_bordered_color_neutral {
  color: var(--token-gjs-TOiPIwRa);
}
.slotTargetLabelcolor_success_type_soft {
  color: var(--token-ch4RQ900raQI);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-nwv1sw0bi9PW);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-rm18IG2aHSlc);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-ch4RQ900raQI);
}
.slotTargetLabelcolor_errorDestructive_type_soft {
  color: var(--token-_6voS9AkVzdn);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-rm18IG2aHSlc);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-_6voS9AkVzdn);
}
.text__hyyiw {
  white-space: pre;
}
.freeBox__rvXc {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__rvXcLti3O {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-3zsOrFQ7CIab);
}
.slotTargetEndcolor_neutral {
  color: var(--token-Aw78pP9kmYft);
}
.slotTargetEndcolor_muted {
  color: var(--token-t_vr97VoBFZD);
}
.slotTargetEndcolor_success {
  color: var(--token-8tYJsya-g3Ng);
}
.slotTargetEndcolor_warning {
  color: var(--token-lNKUn2siNlam);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-6cVNG8FFo6Gz);
}
.slotTargetEndtype_soft {
  color: var(--token-7ix20JdxcBwT);
}
.slotTargetEndtype_bordered {
  color: var(--token-7ix20JdxcBwT);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-uHaVPtKRkSkw);
}
.slotTargetEndsize_small {
  font-size: var(--token-uHaVPtKRkSkw);
}
.slotTargetEndsize_large {
  font-size: var(--token-BKrXxCsHoYhN);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-BKrXxCsHoYhN);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-gjs-TOiPIwRa);
}
.slotTargetEndtype_bordered_color_neutral {
  color: var(--token-gjs-TOiPIwRa);
}
.slotTargetEndcolor_muted_type_soft {
  color: var(--token-nwv1sw0bi9PW);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-nwv1sw0bi9PW);
}
.slotTargetEndcolor_success_type_soft {
  color: var(--token-ch4RQ900raQI);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-ch4RQ900raQI);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-rm18IG2aHSlc);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-rm18IG2aHSlc);
}
.slotTargetEndcolor_errorDestructive_type_soft {
  color: var(--token-_6voS9AkVzdn);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-_6voS9AkVzdn);
}
.svg__qb0Pu {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
