.ariaRangeSlider:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--token-o_ASBHLr6GJh);
  font-family: var(--token-lDa_6luQP-ki);
  font-size: var(--token-2pwaCVY1mivl);
  line-height: var(--token-bIlGl3NAfgoG);
  min-width: 200px;
  row-gap: var(--token-iQcNejNaGN_b);
}
.ariaRangeSlider[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__wv8M {
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox__wv8M > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  margin-left: calc(0px - var(--token-12zbmbx62HZx));
  width: calc(100% + var(--token-12zbmbx62HZx));
}
.freeBox__wv8M > :global(.__wab_flex-container) > *,
.freeBox__wv8M > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wv8M > :global(.__wab_flex-container) > picture > img,
.freeBox__wv8M
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-12zbmbx62HZx);
}
.text__xg7Ql {
  position: relative;
}
.text {
  position: relative;
}
.freeBox__yVWq {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: var(--token-y6q2eHfTpmtp);
  padding-bottom: var(--token-y6q2eHfTpmtp);
  width: 100%;
  min-width: 0;
}
.background {
  display: flex;
  background: var(--token-BD27gnCOvlvl);
  height: var(--token-12zbmbx62HZx);
  width: 100%;
  min-width: 0;
  border-radius: 99px;
}
.ariaSliderTrack:global(.__wab_instance) {
  cursor: pointer;
  opacity: 1;
  box-sizing: border-box;
  background: none;
  height: var(--token-12zbmbx62HZx);
  width: 100%;
  min-width: 0;
}
.sliderThumb___31VyW:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
  margin-top: var(--token-0x1pqLRScUal);
}
.foreground {
  display: block;
  background: var(--token-7fCGD1uhzS7R);
  height: var(--token-12zbmbx62HZx);
  border-radius: 99px 0rem 0rem 99px;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
