.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.svg__ia14W {
  position: relative;
  height: 1em;
}
.svg___75JfL {
  position: relative;
  height: 1em;
}
.ariaModal:global(.__wab_instance) {
  background: var(--token-ecQUzF6up4ex);
  display: block;
  color: var(--token-o_ASBHLr6GJh);
  font-family: var(--token-lDa_6luQP-ki);
  font-size: var(--token-2pwaCVY1mivl);
  line-height: var(--token-bIlGl3NAfgoG);
  outline-style: none;
  box-shadow: 0px 24px 48px -12px #00000040;
  border-radius: var(--token-0cQNFVUwEoXu);
}
.pcls_dW_fGYRoBep8 {
  background: var(--token-mjJNY0OBJVOZ);
  left: 0px;
  top: 0px;
  z-index: 10;
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: none;
}
.ariaDialog:global(.__wab_instance) {
  max-width: 90vw;
  object-fit: cover;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  outline-style: none;
}
.h3__iHcjt {
  width: 100%;
  height: auto;
  max-width: 100%;
  font-weight: 700;
  font-size: var(--token-BKrXxCsHoYhN);
  min-width: 0;
  padding: var(--token-JUVlswCfgvN-);
}
.scrollableContent {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  overflow: auto;
  padding-left: var(--token-JUVlswCfgvN-);
  padding-right: var(--token-JUVlswCfgvN-);
}
.freeBox__dzZg {
  display: flex;
  flex-direction: column;
  position: relative;
}
.freeBox__dzZg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - var(--token-iQcNejNaGN_b));
  height: calc(100% + var(--token-iQcNejNaGN_b));
}
.freeBox__dzZg > :global(.__wab_flex-container) > *,
.freeBox__dzZg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dzZg > :global(.__wab_flex-container) > picture > img,
.freeBox__dzZg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-iQcNejNaGN_b);
}
.text__xE2I {
  position: relative;
}
.freeBox___9RH0L {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-width: 0;
  padding: var(--token-JUVlswCfgvN-);
}
.svg__j2Vyo {
  position: relative;
  height: 1em;
}
.text__uy3Zk {
  padding-left: 0px;
}
.svg___4BfIc {
  position: relative;
  height: 1em;
}
